/* CSS Document */
body {
    font-family: 'Rubik', sans-serif;
}

aside {
    background-image: -webkit-linear-gradient(left, black, #333);
    background-image: -o-linear-gradient(left, black, #333);
    background-image: linear-gradient(to right, black, #333);    
}
aside .link-dark {
    color:darkorange;
}
aside .link-dark:hover {
    color:orangered;
}
#alpha{
}
foo{
    border-top: 1px solid #333;
    background-color:#222;
    color:darkorange;
}
