/* CSS Document */
body {
    font-family: 'Roboto', sans-serif;
}

aside {
    background-color: #333;
}
aside .link-dark {
    color:white;
}
aside .link-dark:hover {
    color:#DDD;
}

#alpha{
}
foo{
    border-top: 1px solid #000;
    background-color: #333;
    color: white;
}
